<div>
    <a href="#/" class="btn btn-primary">SignIn</a>
    <a href="#/homepage" class="btn btn-primary">HomePage</a>
    <a href="#/takeNote" class="btn btn-primary">Take a Diary</a>
    <a href="#/rendernotes" class="btn btn-primary">Your Entry</a>
    
</div>


<div class="calendar"> 
        <header class="header">   
          <h3>April 2017</h3>
          <h5>choose a date you want to make an entry</h5>
        </header>
      <table>
        <tr>
          <td>Sunday</td>
          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
        </tr>

        <tr ng-repeat='week in dates' > 
          <td ng-repeat='day in week' ng-click='clickEle(day)'>
             {{ day }}

          </td></tr>
          
</div>
    
   